.venv
__pycache__
.env
*.pdf
*.docx
Production/uploads/
*.zip
*.db
*.db-shm
*.db-wal
*.parquet
*.csv
*.arrow
AI_Model/
*.bin
*.sqlite3
*.pkl
*.jinja
*.safetensors
*.model
*.lock
*.incomplete
*.log
Screening-AI/Hugging_Face/*

# Production specific
Production/backend/__pycache__/
Production/backend/alembic/versions/*.py
Production/frontend/node_modules/
Production/frontend/dist/